.aboutme {
  white-space: pre-line;
  font-weight: 300;
  font-size: 1rem;
  width: 75%;

  p {
    margin: 0.5rem 0;
  }
}
.skill-header {
  font-weight: bold;
  margin: 0.5rem 0 0 0;
}

.skills {
  margin: 0.5rem 0;
}
