.main-content {
  max-width: 100vw;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 250px;
}

.name {
  font-size: 2.5rem;
  margin-block-end: 1em;
}

.jobs {
  font-size: 4.5rem;
}

@media (max-width: 1024px) {
  .main-content {
    padding-left: 150px;
  }

  .jobs {
    font-size: 3.8rem;
  }

  .name {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .main-content {
    padding-left: 65px;
  }

  .jobs {
    font-size: 1.8rem;
  }

  .name {
    font-size: 1.1rem;
  }
}
